<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <style>
         
        </style>
    </head>
    <body>
      <div class="container-fluid">
      <nav class="nav-divider " >
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <img alt="Brand" src="static/images/test_0.jpg">
            </a>
          </div>
          <ul class="nav nav-pills navbar-inverse">
            <li class="active"><a>1</a></li>
            <li ><a>2</a></li>
            <li ><a>3</a></li>
            <li ><a>4</a></li>
            <li ><a>5</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </nav>
    </div>
    <img alt="Brand" src="static/images/test_1.jpg">
    <img alt="Brand" src="http://mmbiz.qpic.cn/mmbiz_jpg/8TLtg6ibUImWjXvrGgRE5UTaHItGWMWQcjBlUCM4DKVP4F9MzmnTUWtdhWtWev1lbtfciasglffyOibMZRnY6SWAQ/0">
    </body>
</html>
